<div class="btn-group mr-3">

    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary" ngbDropdownToggle>Menü</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-submenu"><a class="dropdown-item" href="#">Schwachstellen-Typen</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                </ul>
            </li>



            <li class="dropdown-submenu"><a class="dropdown-item" href="#">Land</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                </ul>
            </li>

            <li class="dropdown-submenu"><a class="dropdown-item" href="#">Schwere der Lücke</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                </ul>
            </li>

            <li class="dropdown-submenu"><a class="dropdown-item" href="#">Datum</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                    <li class="dropdown-item"><a href="#">4th level</a></li>
                </ul>
            </li>

        </div>
    </div>
</div>
<div style="width:100%;">
    <canvas id="myChart" width="700" height="250" #mychart></canvas>
</div>